
.top-bar{
    -fx-background-color: linear-gradient(to left,#75c9f0 ,#2849ed);
}

.bottom-bar {
    -fx-background-color: #2849ed;
}

.header{
    -fx-background-color:#75c9f0;
}

.header-label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 50;
}

.close-button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color: #16A086;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
}

.close-button:hover {
    -fx-background-color: rgba(255, 255, 247, .3);
}

.vbox-body {
    -fx-background-color: #fff;
}

.combo-style{
    -fx-font: 14px serif;
    
}

.button{
    
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
